.navbar {
    font-family: "Poppins", "sans-serif";
}

.bg-custom{
    background-color: var(--primary)!important;
}

.bg-custom .navbar-brand,
.bg-custom .nav-link,
.bg-custom .nav-link.active,
.bg-custom .nav-link.show {
    color: var(--light) !important;
}

.btn{
    background-color: var(--light);
    color: var(--dark)!important;
    margin-left: 70px;
    margin-right: 10px;
}

.btn-connexion:hover {
    background-color: #ffffff !important;
    color: var(--primary) !important;
}